.container--footer {
  height: 152px;
  position: relative;
  padding-left: 10px;
  padding-top: 105px;
  padding-bottom: 100px;
  width: 1150px;
}

.logo--footer {
  margin-bottom: 7px;
  border-bottom-width: 10px;
  bottom: 80px;
  left: 0px;
}

.socials {
  right: 270px;
  bottom: 77px;
  position: absolute;
  display: block;
}

.socials__item {
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__item:last-child {
  margin-right: 0;
}

.social__link {
  display: inline-block;
  text-decoration: none;
  width: 38px;
  height: 36px;
  background: center no-repeat;
  margin-right: 1px;
}

.socials__item--icon--telegram .social__link {
  background-image: url(/img/icons/telegram.png);
}

.socials__item--icon--vk .social__link {
  background-image: url(/img/icons/vk.png);
}

.socials__item--icon--fb .social__link {
  background-image: url(/img/icons/fb.png);
}

.socials__item--icon--insta .social__link {
  background-image: url(/img/icons/instagram.png);
}

.contacts--footer {
  bottom: 70px;
  display: inline-block;
  position: absolute;

}

.contacts__phone--footer {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  color: #ffffff;
  padding-right: 9px;
}

.contacts__description {
  font-family: "Open Sans";
  padding-bottom: 3px;
  padding-right: 11px;
}

.menu__item--footer {
  margin-right: 48px;
}

.menu__item--footer:last-child {
  margin-left: 0
}
