.header {
  top: 8px;
  padding-top: 26px;
  margin-bottom: 130px;
  height: 70px;

}

.header__container {
  position: relative;
  margin: 0 auto;
  width: 1150px;
}

.logo,
.menu,
.menu__item {
  display: inline-block;
}

.logo,
.menu,
.contacts {
  position: absolute;
}

.logo {
  width: 85px;
  height: 36px;
  display: block;
  position: absolute;
}

.menu {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans";
  position: absolute;
  left: 159px;
  top: 50%;
  transform: translate(0%, -50%);
}

.menu__item {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif; 
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  margin-top: 6px;
  left: 50px;
  margin-right: 45px;
}

.menu__item:last-child {
margin-right: 0
}

.menu__list {
  font-family: "Open Sans";
  font-size: 14px;
}

.contacts {
  right: 0;
  position: absolute;
  font-style: normal;
  text-align: right;
}

.contacts__description {
  color: #999;
  font-size: 11px;
}

.contacts__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  color: #ffffff;
  padding-right: 10px;
}

.contacts__info {
  text-align: right;
  font-style: normal;
  font-weight: normal;
  padding-right: 13px;
  font-size: 13px;
  line-height: 3px;
  text-decoration-line: underline;
  color: #ffffff
}
