.header {
  padding-top: 40px;
  margin-bottom: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  padding-left: 7px;
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
  padding-right: 10px;
}

.logo,
.menu,
.menu__item {
  display: inline-block;
}

.logo {
  width: 85px;
  height: 36px;
  display: block;
  margin-right: 80px;
}

.menu {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans";
}

.menu__item {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
  padding-top: 9px;
}

.menu__item:last-child {
  margin-right: 0
}

.menu__list {
  font-family: "Open Sans";
  font-size: 14px;
}

.contacts {
  right: 0;
  font-style: normal;
  text-align: right;
}

.contacts__description {
  color: #999;
  font-size: 11px;
}

.contacts__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  color: #ffffff;
  padding-right: 12px;
}

.contacts__info {
  letter-spacing: normal;
  font-family: 'Open Sans';
  text-align: right;
  font-style: normal;
  font-weight: normal;
  padding-right: 13px;
  font-size: 13px;
  line-height: 3px;
  text-decoration-line: underline;
  color: #ffffff;
}
