.container__hello {
  padding-left: 1px;
}

.hello {
  padding-top: 10px;
  padding-left: 2px;
  height: 70px;
}

.hello__title {
  padding-left: 12px;
  letter-spacing: 3px;
  font-size: 72px;
  line-height: 1.3;
  display: flex;
  align-items: flex-end;
  font-weight: bolder;
}

.hello__subtitle {
  font-size: 18px;
  line-height: 84px;
  padding-left: 7px;
  display: flex;
  align-items: flex-end;
}

.button--hello {
  margin-left: 6px;
}
