.hello {
  padding-left: 2px;
  width: 45%;
}

.hello__title {
  padding-left: 8px;
  font-size: 72px;
  line-height: 100px;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
}

.hello__subtitle {
  font-size: 18px;
  line-height: 73px;
  padding-left: 7px;
  display: flex;
  align-items: flex-end;
}

.button--hello {
  margin-left: 8px;
  margin-top: 6px;
}
